<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        .title-box{
            margin-top: 100px;
        }
    </style>
    {{>head}}
</head>
<body>
    <div>
    {{>navbar}}
    </div>
    <div class="title-box">
        <h3>{{title}}</h3>
    </div>
    <div>Lorem ipsum dolor sit amet, consectet Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veritatis ducimus explicabo illum, nisi sequi tempore a accusamus cupiditate ipsum est velit? Esse sunt dicta eum recusandae laudantium minima ipsa?</div>
    
</body>
</html>