<footer>
  <div class="footer">
    <div class="links">
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Find</a></li>
          <li><a href="#">Products</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Find</a></li>
          <li><a href="#">Products</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Find</a></li>
          <li><a href="#">Products</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright">
      <p>Copyright &copy; 2021 by Chethan S Putran | All rights reserved</p>
    </div>

  </div>

</footer>