<nav>
  <div class="logo">
    <h1>CS Tech</h1>
  </div>
  <div class="menu">
    <a href="#home">Home</a>
    <a href="/weather">Weather</a>
    <a href="#contact">Contact</a>
    <a href="/login.html">Login</a>
  </div>
</nav>