.filter-title{
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
}
.filter-dropdown{
    padding: 10px;
    border-radius: 10px;
}

.box{
    display: flex;
    width: 100px;
    padding: 10px;
    flex-direction: column;
    background-color: #40005d;
    border: 1px solid white;
}
.title-box{
    padding: 10px;
}
